@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

/* all about side nav */
.sideNav {
  background-color: #102336;
  height: 100%;
  width: 15vw;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sideNav h1 {
  padding-top: 2vw;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 2vw;
}
.sideNav a div img {
  width: 2vw;
}

.sideNav a div span {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1vw;
}
.profile {
  text-align: center;
  padding-bottom: 1vw;
}
.profile a img {
  width: 4vw;
  border-radius: 50%;
}
.profile p {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1vw;
}
.sideNav a {
  text-decoration: none;
}
.list div {
  padding-left: 2.5vw;
}
.list div:hover {
  background-color: #16324e;
}
@media (max-width: 920px) {
  .sideNav a div img {
    width: 9vw;
  }
  .sideNav a div span {
    display: none;
  }
  .profile a img {
    width: 12vw;
  }
  .profile p {
    font-size: 3vw;
  }
  .sideNav h1 {
    font-size: 4vw;
  }
}
/* all bout main nav */
.mainContent {
  margin-left: 15vw;
  background-color: #16324e;
  transition: 0.5s;
  height: 2vw;
}
.mainContent nav {
  display: flex;
  justify-content: space-between;
}
.mainContent nav img {
  width: 2vw;
  height: 2vw;
}
.mainContent nav h1 {
  font-size: 1.7vw;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
}

.mainContent nav .logout {
  font-size: 1.2vw;
  padding-right: 1vw;
  color: whitesmoke;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

@media (max-width: 920px) {
  .mainContent {
    height: 7vw;
  }

  .mainContent nav img {
    width: 7vw;
    height: 7vw;
  }
  .mainContent nav h1 {
    font-size: 6vw;
  }

  .mainContent nav .logout {
    font-size: 4vw;
    padding-right: 1vw;
  }
}
.buttomSide {
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
}
.buttomSide p {
  color: #102336;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 2vw;
}

.main_Content {
  padding: 0vw 3vw;
}
.navTwo {
  display: flex;
  justify-content: space-between;
  padding: 0vw 3vw;
}
.title {
  color: #102336;
  font-family: "Anton", sans-serif;
  font-size: 2vw;
}

.submitNow {
  color: whitesmoke;
  background-color: #102336;
  font-size: 1vw;
  padding: 0.5vw 2vw;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
}
.emailInput {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  width: 20vw;
  font-size: 1vw;
  padding: 0.5vw 2vw;
  border-radius: 10px;
}

/* all about side nav */
@media (max-width: 920px) {
  .title {
    color: #102336;
    font-family: "Anton", sans-serif;
    font-size: 5vw;
  }
  .submitNow {
    color: whitesmoke;
    background-color: #102336;
    font-size: 4vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 1px;
  }
  .emailInput {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    width: 60vw;
    font-size: 4vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
  }
  .navTwo {
    display: block;
    justify-content: space-between;
    padding: 0vw 3vw;
  }
  .buttomSide {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .buttomSide p {
    color: #102336;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    font-size: 5vw;
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "items items items items items list"
    "items items items items items list"
    "items items items items items list";
  gap: 2vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.grid-container > div {
  padding: 1vw;
}
.item1 {
  grid-area: items;
  display: flex;
}
.item2 {
  grid-area: list;
}
.image_Container img {
  width: 15vw;
  height: 15vw;
  margin-right: 1vw;
}
.item_Name h1,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 1vw;
}
@media (max-width: 920px) {
  .item1 {
    grid-area: items;
    display: block;
  }
  .image_Container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
  }
  .image_Container img {
    width: 62.5vw;
    height: 62.5vw;
    margin-right: 1vw;
  }
  .item_Name h1,
  h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    font-size: 5vw;
  }
}
