@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

/* all about side nav */
.sideNav {
  background-color: #102336;
  height: 100%;
  width: 15vw;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sideNav h1 {
  padding-top: 2vw;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 2vw;
}
.sideNav a div img {
  width: 2vw;
}

.sideNav a div span {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1vw;
}
.profile {
  text-align: center;
  padding-bottom: 1vw;
}
.profile a img {
  width: 4vw;
  border-radius: 50%;
}
.profile p {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1vw;
}
.sideNav a {
  text-decoration: none;
}
.list div {
  padding-left: 2.5vw;
}
.list div:hover {
  background-color: #16324e;
}
@media (max-width: 920px) {
  .sideNav a div img {
    width: 9vw;
  }
  .sideNav a div span {
    display: none;
  }
  .profile a img {
    width: 12vw;
  }
  .profile p {
    font-size: 3vw;
  }
  .sideNav h1 {
    font-size: 4vw;
  }
}
/* all bout main nav */
.mainContent {
  margin-left: 15vw;
  background-color: #16324e;
  transition: 0.5s;
  height: 2vw;
}
.mainContent nav {
  display: flex;
  justify-content: space-between;
}
.mainContent nav img {
  width: 2vw;
  height: 2vw;
}
.mainContent nav h1 {
  font-size: 1.7vw;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
}

.mainContent nav .logout {
  font-size: 1.2vw;
  padding-right: 1vw;
  color: whitesmoke;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

@media (max-width: 920px) {
  .mainContent {
    height: 7vw;
  }

  .mainContent nav img {
    width: 7vw;
    height: 7vw;
  }
  .mainContent nav h1 {
    font-size: 6vw;
  }

  .mainContent nav .logout {
    font-size: 4vw;
    padding-right: 1vw;
  }
}
.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 60px;
  margin: 0vw 5vw;
}

.charts-card {
  background-color: #102336;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.charts_title_Bar {
  display: flex;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
}
.charts_title_Pie {
  display: flex;
  color: #102336;
  font-family: "Anton", sans-serif;
}
.charts_title_Sales {
  display: flex;
  color: #102336;
  font-family: "Anton", sans-serif;
}
.charts-cards {
  background-color: whitesmoke;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 920px) {
  .charts {
    display: block;
  }
}
.another_Chart_Container {
  margin: 0vw 5vw;
  padding: 1vw 5vw;
  height: auto;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  margin: 0vw 5vw;
}
.grid-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-left: 5px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0.5vw;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}
.grid-container a {
  text-decoration: none;
}

#accepted_Order {
  border-left-color: #16324e;
}
#accepted_Order h3 {
  font-family: "Anton", sans-serif;
  border-left-color: #16324e;
  text-decoration: none;
}
#accepted_Order h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
