@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

.back_main_Login button {
  font-family: "Anton", sans-serif;
  background-color: #16324e;
  color: whitesmoke;
  padding: 0.5vw 1vw;
  margin: 1vw;
  border-radius: 0.5vw;
}
.form_Container {
  text-align: center;
}
