@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

.login_Main_Container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3vw;
}
.title_Login_Page {
  font-family: "Anton", sans-serif;
  padding-top: 5vw;
}
.title_Login_Page img {
  width: 30vw;
  height: auto;
  margin-top: 0vw;
}
.admin_Login_Form {
  padding: 3vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1vw;
  margin: 0vw 5vw;
}
.admin_Login_Form form h3 {
  font-family: "Anton", sans-serif;
  text-align: center;
}
.admin_Login_Form form div {
  border: 2px solid black;
  border-radius: 1vw;
  padding: 0vw 1vw;
  display: flex;
  justify-content: space-between;
}
.admin_Login_Form form div img {
  height: 1.5vw;
  width: 1.5vw;
  padding-top: 0.3vw;
}
.admin_Login_Form form div input {
  padding: 0.5vw 2vw;
  border: none;
}
.admin_Login_Form form div input:focus {
  outline: none;
}
.admin_Login_Form form .inputButton {
  font-family: "Anton", sans-serif;
  background-color: #16324e;
  color: whitesmoke;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  float: right;
}

@media (max-width: 920px) {
  .login_Main_Container {
    display: block;
  }
  .title_Login_Page img {
    width: 60vw;
    height: auto;
    margin-top: -3vw;
  }
  .admin_Login_Form form div img {
    height: 4.5vw;
    width: 4.5vw;
  }
  .title_Login_Page {
    text-align: center;
  }
}
.back_main_Login button {
  font-family: "Anton", sans-serif;
  background-color: #16324e;
  color: whitesmoke;
  padding: 0.5vw 1vw;
  margin: 1vw;
  border-radius: 0.5vw;
}
.about {
  background-color: #16324e;
}
.about_Container {
  display: flex;
  justify-content: center;
  margin: 10vw 10vw 0vw 10vw;
  padding: 8vw;
}
.about .about_Container .pContainer h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: whitesmoke;
  text-align: center;
}
.about .about_Container .pContainer h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2vw;
}
.about .about_Container .pContainer p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: whitesmoke;
  text-align: justify;
}
.about .about_Container .imgContainer img {
  vertical-align: middle;
  border: 5px solid whitesmoke;
  text-shadow: 2px 2px black;
  margin-left: 2vw;
}
@media (max-width: 920px) {
  .view_Products {
    color: whitesmoke;
    background-color: #16324e;
    padding: 1vw 2vw;
    font-size: 4vw;
    border-radius: 1vw;
    font-family: "Anton", sans-serif;
  }
  .about_Container {
    display: block;
    text-align: center; /* Center-align the content */
    margin: 5vw 5vw 0vw 5vw;
    padding: 8vw;
  }
  .about .about_Container .pContainer h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    font-size: 7vw;
    color: whitesmoke;
    text-align: center;
  }
  .about .about_Container .pContainer p {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    font-size: 4vw;
    color: whitesmoke;
    text-align: justify;
  }
  .about .about_Container .imgContainer img {
    height: 70vw;
    width: 70vw;
    margin-left: 0vw;
  }
}
