@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

/* all about side nav */
.sideNav {
  background-color: #102336;
  height: 100%;
  width: 15vw;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sideNav h1 {
  padding-top: 2vw;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 2vw;
}
.sideNav a div img {
  width: 2vw;
}

.sideNav a div span {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1vw;
}
.profile {
  text-align: center;
  padding-bottom: 1vw;
}
.profile a img {
  width: 4vw;
  border-radius: 50%;
}
.profile p {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1vw;
}
.sideNav a {
  text-decoration: none;
}
.list div {
  padding-left: 2.5vw;
}
.list div:hover {
  background-color: #16324e;
}
@media (max-width: 920px) {
  .sideNav a div img {
    width: 9vw;
  }
  .sideNav a div span {
    display: none;
  }
  .profile a img {
    width: 12vw;
  }
  .profile p {
    font-size: 3vw;
  }
  .sideNav h1 {
    font-size: 4vw;
  }
}
/* all bout main nav */
.mainContent {
  margin-left: 15vw;
  background-color: #16324e;
  transition: 0.5s;
  height: 2vw;
}
.mainContent nav {
  display: flex;
  justify-content: space-between;
}
.mainContent nav img {
  width: 2vw;
  height: 2vw;
}
.mainContent nav h1 {
  font-size: 1.7vw;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
}

.mainContent nav .logout {
  font-size: 1.2vw;
  padding-right: 1vw;
  color: whitesmoke;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

@media (max-width: 920px) {
  .mainContent {
    height: 7vw;
  }

  .mainContent nav img {
    width: 7vw;
    height: 7vw;
  }
  .mainContent nav h1 {
    font-size: 6vw;
  }

  .mainContent nav .logout {
    font-size: 4vw;
    padding-right: 1vw;
  }
}
/* all about the form */
.first_container {
  padding: 0vw 5vw;
}
.first_container h1 {
  font-size: 2vw;
  text-align: left;
  font-family: "Anton", sans-serif;
  padding-left: 5vw;
}
.second_container {
  display: flex;
  justify-content: space-evenly;
  padding: 2vw 0vw;
}
.fourt_container {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
}
.fourt_container label {
  font-size: 1.2vw;
}
.fourt_container input {
  margin-left: 2vw;
  padding: 0vw 1vw;
  border-radius: 1vw;
}
.fourt_container select {
  padding: 0vw 2vw;
  border-radius: 1vw;
}
.fileClass {
  font-size: 1vw;
}
.submitInput {
  text-align: right;
}
.submitInput input {
  background-color: #16324e;
  color: whitesmoke;
  font-size: 1vw;
  padding: 0.3vw 1vw 0.4vw 1vw;
  font-family: "Anton", sans-serif;
  border-radius: 0.5vw;
}
.addingUserError {
  text-align: center;
  border: 0.1vw solid red;
  background-color: pink;
  border-radius: 2vw;
  margin: 0vw 30vw;
  margin-top: 1vw;
  font-size: 1vw;
}
@media (max-width: 920px) {
  .second_container {
    display: block;
  }
  .fourt_container label {
    font-size: 3.5vw;
  }
  .fileClass {
    font-size: 3vw;
  }
  .first_container h1 {
    font-size: 6vw;
  }
  .addingUserError {
    border: 0.2vw solid red;
    margin: 0vw 10vw;
    margin-top: 2vw;
    font-size: 4vw;
  }
  .submitInput input {
    background-color: #16324e;
    color: whitesmoke;
    font-size: 4vw;
    padding: 0.3vw 1vw 0.4vw 1vw;
    border-radius: 1vw;
  }
}

/* all about the grid  */
.grid-container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  margin: 0vw 5vw;
}
.grid-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-left: 5px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0.5vw;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.grid-container a {
  text-decoration: none;
}
#staff_User {
  border-left-color: orange;
}
#staff_User h3 {
  font-family: "Anton", sans-serif;
  color: orange;
}
#staff_User h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

#logistic_User {
  border-left-color: #2491ff;
}
#logistic_User h3 {
  font-family: "Anton", sans-serif;
  color: #2491ff;
}
#logistic_User h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

#registered_User {
  border-left-color: #e74c3c;
}
#registered_User h3 {
  font-family: "Anton", sans-serif;
  color: #e74c3c;
}
#registered_User h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

#deactivated_User {
  border-left-color: #a24fff;
}
#deactivated_User h3 {
  font-family: "Anton", sans-serif;
  color: #a24fff;
}
#deactivated_User h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
@media (max-width: 920px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .grid-item {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 3vw;
    padding: 3vw;
    text-align: center;
  }
  #staff_User h2 {
    font-size: 10vw;
  }
  #logistic_User h2 {
    font-size: 10vw;
  }
  #registered_User h2 {
    font-size: 10vw;
  }
  #deactivated_User h2 {
    font-size: 10vw;
  }

  #staff_User h3 {
    font-size: 4vw;
  }
  #logistic_User h3 {
    font-size: 4vw;
  }
  #registered_User h3 {
    font-size: 4vw;
  }
  #deactivated_User h3 {
    font-size: 4vw;
  }
}
/* all about the card */
.grid-container a {
  text-decoration: none;
}
#hidden {
  border-left-color: orange;
}
#hidden h3 {
  font-family: "Anton", sans-serif;
  color: orange;
}
#hidden h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
#posted {
  border-left-color: #24b833;
}
#posted h3 {
  font-family: "Anton", sans-serif;
  color: #24b833;
}
#posted h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
#all {
  border-left-color: #8c1414;
}
#all h3 {
  font-family: "Anton", sans-serif;
  color: #8c1414;
}
#all h2 {
  font-size: 4vw;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
#lowest {
  border-left-color: #102336;
}
#lowest h3 {
  font-family: "Anton", sans-serif;
  color: #102336;
}
#lowest h2 {
  font-size: 4vw;
  color: #102336;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
#highest {
  border-left-color: #102336;
}
#highest h3 {
  font-family: "Anton", sans-serif;
  color: #102336;
}
#highest h2 {
  font-size: 4vw;
  color: #102336;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
#highests {
  border-left-color: #102336;
}
#highests h3 {
  font-family: "Anton", sans-serif;
  color: #102336;
}
#highests h2 {
  font-size: 4vw;
  color: #102336;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
@media (max-width: 920px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .grid-item {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 3vw;
    padding: 3vw;
    text-align: center;
  }
  #hidden h2 {
    font-size: 10vw;
  }
  #hidden h3 {
    font-size: 4vw;
  }
  #posted h2 {
    font-size: 10vw;
  }
  #posted h3 {
    font-size: 4vw;
  }
  #lowest h2 {
    font-size: 10vw;
  }
  #lowest h3 {
    font-size: 4vw;
  }
  #highest h2 {
    font-size: 10vw;
  }
  #highest h3 {
    font-size: 4vw;
  }
  #highests h2 {
    font-size: 10vw;
  }
  #highests h3 {
    font-size: 4vw;
  }
  #all h2 {
    font-size: 10vw;
  }
  #all h3 {
    font-size: 4vw;
  }
}
.allOrdersContainer {
  display: flex;
}
.allOrdersContainer label {
  color: whitesmoke;
}
.allOrder {
  /* Set a max-width to limit the width of the page */
  max-width: 100%;
  max-height: 1500%;
  overflow-x: auto; /* Add horizontal scrolling if needed */
  margin: 2vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #16324e;
}
.allOrdersTitle {
  color: whitesmoke;
  font-family: "Anton", sans-serif;
  margin-left: 1vw;
}
#ordersTable {
  width: 100%;
  border-collapse: collapse;
  /* background-color: lightgray; */
  font-family: Arial, Helvetica, sans-serif;
  /* white-space: nowrap; */
  border: 1px solid #16324e;
}

/* Style for the table header */
#ordersTable thead th {
  background-color: #16324e;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top */
  color: whitesmoke;
}

/* Style for table cells (optional) */
#ordersTable td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

/* Style for table rows (optional) */
.even-row {
  background-color: white !important;
}
.even-row:nth-child(even) {
  background-color: whitesmoke !important;
}
.even-row:hover {
  background-color: lightgrey !important;
}
/* Style for the table image (optional) */
#ordersTable tbody tr td {
  text-align: center;
}
#ordersTable tbody tr td img {
  height: 5vw;
  width: 5vw;
}
.header_Table {
  text-align: center;
}
.action_Div {
  display: flex;
  justify-content: space-evenly;
}
.action_Div div button {
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
  color: whitesmoke;
  background-color: #102336;
}
@media (max-width: 920px) {
  .action_Div {
    display: block;
  }
  #ordersTable tbody tr td img {
    height: 35vw;
    width: 35vw;
  }
}
